@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Welcome to EDGETECH Quality Woodworking, a team of experienced carpenters providing exceptional
    custom woodworking services in the GTA. With expertise in solid wood furniture, office solutions, and
    custom millwork, we cater to both residential and commercial customers.
    We specialize in creating exquisite custom woodworking pieces that blend traditional craftsmanship
    with modern precision. Our dedicated team pays meticulous attention to detail, bringing your unique
    vision to life. Check out our gallery below to see some of our work!
    Contact us today to discuss your project and get a quote!
</p>
